{template temp/header.html}
{php $timeArr = array();}
{list catid=$catid more=1 order=shijian_desc}
    {php $timeYear = date("Y", $t['shijian']);}
    {php $timeMouth = date("m", $t['shijian']);}
    {php $timeDay = date("d", $t['shijian']);}
    {if !array_key_exists($timeYear, $timeArr)}
        {php $timeArr[$timeYear] = array();}
    {/if}
    {php array_push($timeArr[$timeYear], array('year'=>$timeYear, 'mouth'=> $timeMouth, 'day'=>$timeDay, 'thumb'=> $t['zhanshitupian']));}
{/list}
<link rel="stylesheet" href="{SITE_THEME}lib/Swiper/idangerous.swiper2.7.6.css">
<script type="text/javascript" src="{SITE_THEME}lib/Swiper/idangerous.swiper2.7.6.min.js"></script>
<style type="text/css">
    #year-list {
        height: 32px;
    }
    #year-list .swiper-slide{
        font-size: 18px;
        color: #333;
        line-height: 1.8;
        text-align: center;
        cursor: pointer;
    }

    #year-list .swiper-slide.active{
        color: #357aff;
    }

    .topimg-lis {
        height: 156px;
    }
    .topimg-list img {
        width: 245px;
        height: 156px;
        display: block;
        margin: 0 auto;
    }
</style>
<div class="pd-header">
    <div class="page-top-img" style="background-image: url('{$cats[3]['image']}');"></div>
    <div style="position: relative; overflow: hidden;">
        <img src="{SITE_THEME}image/page-bg.jpg" style="position: absolute; width: 100%; bottom: 0; left: 0;  height: 100%;">
        <div class="unified-width page-info" style="z-index: 1; position: relative;">
            {php $zcs = getCatNav(3);}
            <div class="page-left-menu">
                {loop $zcs $i}
                <a href="{$i.url}" {if $i.catid == $catid}class="active"{/if}>{$i.catname}</a>
                {/loop}
            </div>
            <div class="page-right-content">
                <div class="topyear-list">
                    <div class="swiper-container" id="year-list">
                        <div class="swiper-wrapper">
                            {php $i = 0;}
                            {loop $timeArr $k=>$v}
                            <div class="swiper-slide" onclick="gotoYear({$i})">{$k}</div>
                            {php $i++;}
                            {/loop}
                        </div>
                    </div>
                    <a href="javascript:;" class="left-btn"></a>
                    <a href="javascript:;" class="right-btn"></a>
                </div>
                {loop $timeArr $k=>$v}
                <div class="topimg-list" style="display: none;">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {loop $v $kT=>$vT}
                            <div class="swiper-slide">
                                <img src="{$vT.thumb}" alt="{$kT}">
                            </div>
                            {/loop}
                        </div>
                    </div>
                    <a href="javascript:;" class="left-btn"><span></span></a>
                    <a href="javascript:;" class="right-btn"><span></span></a>
                </div>
                {/loop}
                {loop $timeArr $k=>$v}
                <div class="images-list" style="display: none;">
                    {loop $v $kT=>$vT}
                    <img src="{$vT.thumb}" alt="">
                    {/loop}
                </div>
                {/loop}
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var yearSwiper = new Swiper('#year-list', {
        slidesPerView: 7,
        spaceBetween: 30
    });

    var topImgs = [];

    $(".page-right-content .left-btn").on("click", function() {
        yearSwiper.swipePrev();
    });

    $(".page-right-content .right-btn").on("click", function() {
        yearSwiper.swipeNext();
    });

    $(".topimg-list").each(function(index){
        var topImgSwiper = topImgs[index] = new Swiper($(this).find(".swiper-container")[0], {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 30,
            simulateTouch: false
        });
        function showImage(i) {
            $(".images-list").eq(index).find("> img").css("display", 'none').eq(i).css("display", 'block');
        };
        $(this).find(".left-btn").on("click", function() {
            topImgSwiper.swipePrev();
        });
        $(this).find(".right-btn").on("click", function() {
            topImgSwiper.swipeNext();
        });

        $(".swiper-slide", this).on("click", function() {
            var topimg_list = $(this).closest(".topimg-list");
            var index = $(".swiper-wrapper > .swiper-slide", topimg_list).index($(this));
            topimg_list.find(".swiper-slide").removeClass("active").eq(index).addClass("active");
            showImage(index);
        });

        $(this).find(".swiper-slide").eq(0).addClass("active");
        showImage(0);
    });

    function gotoYear(index) {
        $(".topimg-list").css("display", "none").eq(index).css("display", "block");
        $(".images-list").css("display", "none").eq(index).css("display", "block");
        $("#year-list .swiper-slide").removeClass("active").eq(index).addClass("active");
        topImgs[index].resizeFix();
    }
    gotoYear(0);
</script>
{template temp/footer.html}