{template temp/header.html}
<link rel="stylesheet" href="{SITE_THEME}lib/unslider/css/unslider.css">
<script type="text/javascript" src="{SITE_THEME}lib/unslider/js/unslider.js"></script>
<div id="banner">
    <ul>
        {list catid=1 more=1 return=item}
        <li>
            <a href="{$item.dianjidelianjie}" style="background-image: url('{$item.zhanshitupian}');"></a>
        </li>
        {/list}
    </ul>
</div>
<div style="position: relative; min-height: 764px; min-width: 1200px;">
    <img src="{SITE_THEME}image/index-2-bg.png" alt="" style="position: absolute; width: 100%; height: 100%;">
    <h3 class="us-introduce" style="position: relative; z-index: 1;">中小微企业融资<br>方案解决商</h3>
    <div class="unified-width index-mk" style="position: relative; z-index: 1;">
        <h4>公司简介</h4>
        <span class="index-mk-fgx"></span>
        <p style="text-align: center;font-size: 24px; color: #363636; line-height: 1.8;">
            公司成立2012年2月，注册资本11亿元，<br>
            甘肃省工业和信息化委员会批准成立，<br>
            由甘肃省公路航空旅游投资集团公司独家发起设立的（国有）法人机构，<br>
            是甘肃省内资本规模最大的信用担保公司。<br>
            公司全力打造中国西北第一信用担保品牌，<br>
            为甘肃丝绸之路经济带黄金段建设发挥了重要的金融支撑作用。
        </p>
    </div>
</div>
<img src="{SITE_THEME}image/ditu-index.jpg" class="zisheying-img">
<div class="unified-width index-mk" style="width: 1400px; margin-top: 120px;">
    <h4>合作银行</h4>
    <span class="index-mk-fgx" style="margin-top: 40px;margin-bottom: 50px;"></span>
    <div class="hzyh-list">
        <img src="{SITE_THEME}image/blog1.jpg" alt="">
        <ul>
            {list catid=2 more=1 num=20 return=item}
            <li>
                <a href="{$item.dianjilianjie}"><img src="{$item.zhanshiLOGO}" alt=""></a>
            </li>
            {/list}
        </ul>
    </div>
</div>
<script type="text/javascript">
    $('#banner').unslider({
        speed: 500,
        delay: 3000,
        animation: 'fade',
        arrows: false,
        autoplay: true
    });
</script>
{template temp/footer.html}