{template temp/header.html}
<div class="pd-header">
    <div class="page-top-img" style="background-image: url('{$cats[18]['image']}');"></div>
    <div style="position: relative; overflow: hidden;">
        <img src="{SITE_THEME}image/page-bg.jpg" style="position: absolute; width: 100%; bottom: 0; left: 0;  height: 100%;">
        <div class="unified-width page-info" style="z-index: 1; position: relative;">
            {php $zcs = getCatNav(18);}
            <div class="page-left-menu">
                {loop $zcs $i}
                <a href="{$i.url}" {if $i.catid == $catid}class="active"{/if}>{$i.catname}</a>
                {/loop}
            </div>
            <div class="page-right-content">
                {$cats[$catid]['content']}
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{template temp/footer.html}