.unslider, .unslider-fade {
    height: 492px;
    position: relative;
}
.unslider .unslider-wrap, .unslider li, .unslider a{
    height: 100%;
    width: 100%;
    display: block;
}
.unslider a{
    background-repeat: no-repeat;
    background-position: center top;
}
.unslider-nav {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    z-index: 10;
}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  border-radius: 20px;
}
.unslider-nav ol li.unslider-active {
  background: #00C4FF;
  cursor: default;
  height: 10px;
  width: 10px;
}

.unified-width {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 70px;
    background: url("../image/top-bg.png") center top no-repeat;
}
.header .unified-width {
    height: 100%;
}

.pd-header {
    padding-top: 70px;
}

.logo {
    float: left;
    margin-top: 21px;
}

.logo img{
    height: 37px;
}

.header-menu {
    float: right;
}
.header-menu > li{
    float: left;
    margin-top: 35px;
}

.header-menu > li > a{
    font-size: 15px;
    color: #000;
    text-align: center;
    display: inline-block;
    width: 127px;
    height: 45px;
    line-height: 2;
}

.header-menu > li a:hover, .header-menu > li a.active{
    color: #357AFF;
}

.header-menu > li > ul{
    border-top: 2px solid #357AFF;
    width: 124px;
    margin: 0 auto;
    -webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	transition: all .3s ease-in;
    -moz-transform:scale(1, 0);
    -webkit-transform:scale(1, 0);
    -ms-transform:scale(1, 0);
    transform:scale(1, 0);
    opacity: 0;
    height: 0;
}

.header-menu > li:hover > ul{
    height: auto;
    opacity: 1;
    -moz-transform:scale(1, 1);
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    transform:scale(1, 1);
}

.header-menu > li > ul li{
    height: 28px;
    padding-top: 1px;
}

.header-menu > li > ul li a{
    font-size: 14px;
    color: #535353;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.9;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}

.us-introduce {
    color: #0e50be;
    font-size: 45px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 2px;
    font-weight: bolder;
    line-height: 1.5;
}

.index-mk {
    padding-bottom: 136px;
}

.index-mk h4{
    text-align: center;
    font-family: "微软雅黑";
    font-size: 28px;
    font-weight: bold;
    color: #606060;
    margin: 0 0 10px 0;
}

.index-mk-fgx {
    display: block;
    margin: 0 auto 30px auto;
    background-image: url("../image/fgx.png");
    width: 393px;
    height: 19px;
}

.zisheying-img {
    display: block;
    min-width: 1200px;
    width: 100%;
}

.hzyh-list {
    width: 1100px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.hzyh-list > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.hzyh-list a{
    float: left;
    width: 20%;
    height: 50%;
    position: relative;
}

.hzyh-list a img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    -webkit-transition:opacity .5s ease-in;
	-moz-transition:opacity .5s ease-in;
	transition:opacity .5s ease-in;
}

.hzyh-list a:hover img{
    opacity: 1;
}

.lxdz-info , .lxdh-info, .email-info{
    background: url("../image/icon-dz.png") no-repeat;
    position: relative;
    font-size: 13px;
    color: #fff;
    padding-left: 100px;
    height: 34px;
}

.lxdh-info {
    background: url("../image/icon-dh.png") no-repeat;
    margin-top: 5px;
}

.email-info {
    background: url("../image/email.png") no-repeat;
    margin-top: 5px;
}

.lxdz-info .info-title, .lxdh-info .info-title, .email-info .info-title{
    position: absolute;
    top: 0;
    left: 27px;
}

.bottom-img-link {
    position: absolute;
    background-color: #fff;
    top: 26px;
    right: 0;
    padding: 15px 30px;
    border-radius: 10px;
}

.bottom-img-link  a{
    display: block;
    padding: 10px 10px;
}

.bottom-img-link  a img{
    height: 19px;
}

.page-info {
    padding-top: 88px;
    padding-bottom: 40px;
}

.page-top-img {
    height: 385px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
}

.page-left-menu {
    width: 156px;
    float: left;
    margin-left: 139px;
}

.page-left-menu a{
    display: block;
    height: 39px;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 2.5;
    background: #fff;
    border-top: 1px solid #FBFBFB;
}

.page-left-menu a:first-child{
    border-top: 0;
}

.page-left-menu a.active{
    color: #fff;
    background: #357AFF;
    box-shadow: 0px 0px 13px #357AFF;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    position: relative;
    z-index: 2;
    border-top: 0;
}

.page-right-content {
    width: 680px;
    float: right;
    background: #fff;
    min-height: 1066px;
    padding: 30px;
    box-sizing: border-box;
    margin-right: 90px;
}

.falc-list li{
    position: relative;
    margin-left: 50px;
    border-left: 3px solid #5E607A;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    font-size: 14px;
    color: #333;
}

.falc-list li img{
    top: 3px;
    left: -29px;
    position: absolute;
    width: 55px;
}

.falc-list li:hover img.not-hover{
    display: none;
}

.falc-list li img.hover{
    display: none;
}

.falc-list li:hover img.hover{
    display: block;
}

.falc-list li:hover .falc-dot{
    background-image: url("../image/d-n.png");
}

.topyear-list {
    position: relative;
    padding: 0 32px;
}

.topyear-list .left-btn {
    background-image: url("../image/jt-z.png");
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.topyear-list .right-btn {
    background-image: url("../image/jt-r.png");
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topimg-list {
    margin-top: 90px;
    position: relative;
    padding: 0 20px;
}

.topimg-list .left-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;
    display: block;
}

.topimg-list .left-btn span{
    background-image: url("../image/jt-z-m.png");
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -8px;
}

.topimg-list .right-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
}

.topimg-list .right-btn span{
    background-image: url("../image/jt-r-m.png");
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -8px;
}

.images-list {
    margin-top: 80px;
}
.images-list img{
    width: 100%;
    display: none;
    margin: 0 auto;
}

.wenhua-item-info h3{
    margin: 0;
    font-size: 20px;
    color: #333;
    display: inline-block;
    padding-right: 10px;
    border-bottom: 4px solid #00B7EE;
    padding-bottom: 5px;
}

 .wenhua-item-info hr{
    border: 0;
    height: 1px;
    background-color: #00B7EE;
    margin: 0;
    display: block;
}

 ul.qiyeqikan-list {
    padding-top: 20px;
}

 ul.qiyeqikan-list li {
    width: 33.33%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

 ul.qiyeqikan-list li div{
    display: inline-block;
    width: 170px;
}

 ul.qiyeqikan-list li img{
    display: block;
    width: 170px;
    height: 239px;
    margin-bottom: 10px;
}

 ul.qiyeqikan-list li h4{
 font-size: 16px;
 color: #333;
 font-weight: normal;
 text-align: left;
 position: relative;
 box-sizing: border-box;
 padding-right: 25px;
}

 ul.qiyeqikan-list li a{
    width: 21px;
    height: 20px;
    display: block;
    background-image: url("../image/xz.png");
    position: absolute;
    right: 0;
    bottom: 0;
}

 ul.qiyeqikan-list li p{
    font-size: 14px;
    color: #333;
    text-align: left;
    line-height: 1.5;
    padding-top: 5px;
    height: 54px;
    overflow: hidden;
    width: 100%;
}

.ygtd-list li{
    float: left;
    display: block;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}
.ygtd-list li img{
    margin: 0 auto;
    width: 174px;
    height: 122px;
    display: block;
    cursor: pointer;
}

.sp-list li{
    float: left;
    display: block;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

.sp-list li a{
    margin: 0 auto;
    width: 179px;
    height: 103px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sp-list li a img{
    width: 100%;
    height: 100%;
    display: block;
}

.sp-list li a span{
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    margin: -24px;
    background-image: url("../image/bf.png");
    top: 50%;
    left: 50%;
}

.weixin-img {
    position: fixed;
    top: 30px;
    right: 20px;
    /* margin-top: -104px; */
    z-index: 999;
    width: 100px;
}

.cpfw-list li{
    padding-top: 180px;
}

.cpfw-list li:first-child{
    padding-top: 0;
}

.cpfw-list li div{
    float: left;
}

.cpfw-list li div img{
    width: 90px;
    height: 90px;
    margin-top: 73px;
}

.cpfw-list li div h3{
    width: 90px;
    margin: 0;
    font-size: 23px;
    color: #1296db;
    text-align: center;
    margin-top: 20px;
}

.cpfw-list li table{
    width: 320px;
    float: right;
}

.cpfw-list li table tr{
    border-bottom: 2px dotted #ccc;
    margin-bottom: 10px;
    padding: 10px 0;
    display: block;
}

.cpfw-list li table th{
    font-size: 14px;
    color: #010101;
    font-weight: bold;
    width: 100px;
}

.cpfw-list li table td{
    font-size: 14px;
    color: #010101;
    text-align: left;
}

.xinwen-list {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.xinwen-list li{
    padding: 34px 0;
    border-bottom: 2px dotted #ccc;
}
.xinwen-list li img{
    float: left;
    width: 157px;
    height: 108px;
    display: block;
}

.xinwen-list li h3{
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.xinwen-list li p{
    padding: 20px 0;
    font-size: 14px;
    box-sizing: border-box;
}

.xinwen-list li div span{
    float: left;
    font-size: 14px;
}

.xinwen-list li div a{
    float: right;
    color: #000;
    font-size: 14px;
}

.xinwen-list-info {
    width: 435px;
    float: right;
}

.js-year {
    color: #ccc;
    position: absolute;
    right: 70px;
    font-size: 15px;
}

.js-year select{
    border: 0;
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.pagination {
    text-align: center;
    margin-top: 30px;
    height: 30px;
}

.pagination ul{
    display: inline-block;
}

.pagination ul li{
    display: inline-block;
    margin: 0 3px;
}

.pagination ul li a{
    border: 1px solid #ccc;
    padding: 5px 15px;
    color: #ccc;
}

.pagination ul li a[href]{
    color: #0098EF;
}


.index-about li{
    float: left;
    width: 25%;
}

.index-about li a{
    display: block;
    width: 280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.index-about li a img{
    width: 280px;
    height: 280px;
    -webkit-transition:transform .5s ease-in;
	-moz-transition:transform .5s ease-in;
	transition:transform .5s ease-in;
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
}

.index-about li a:hover img{
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    transform:scale(1.3);
}

.index-about li a > h4{
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 10;
    width: 78.5%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-indent: 20px;
    background: rgba(0,0,0,0.60);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    -webkit-transition:opacity .5s ease-in;
	-moz-transition:opacity .5s ease-in;
	transition:opacity .5s ease-in;
    text-align: left;
}

.index-about li a:hover > h4{
    opacity:0;
}

.index-about li a .info{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: rgba(0,0,0,0.60);
    opacity: 0;
    max-height: 0;
    -webkit-transition:opacity .5s ease-in;
	-moz-transition:opacity .5s ease-in;
	transition:opacity .5s ease-in;
}

.index-about li a:hover .info{
    opacity:1;
    max-height: 1000px;
}

.index-about li a .info h4{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    margin: 0;
}

.index-about li a .info span{
    display: block;
    color: #fff;
    padding: 20px 30px;
}

.index-about li a .info .info-title {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.index-news-swiper {
    width: 470px;
    float: left;
    height: 400px;
}

.index-news-swiper .unslider,.index-news-swiper .unslider-fade{
    height: 400px;
    overflow: inherit;
}

.index-news-swiper a{
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
}

.index-news-swiper a span{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(255,255,255, .8);
    width: 100%;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    color: #555;
}

.index-news-swiper .unslider-nav {
    bottom: -19px;
}

.index-news-swiper .unslider-nav ol li {
    background-color: #B0ACA9;
    width: 10px;
    height: 10px;
}

.index-news-swiper .unslider-nav ol li.unslider-active {
    background-color: #E26D07;
    width: 10px;
    height: 10px;
}

.index-news-list {
    float: right;
    width: 600px;
}

.index-news-list ul{
    background-color: #f6f6f6;
    padding: 17px 11px;
    margin-bottom: 20px;
    height: 156px;
}

.index-news-list ul li {
    margin-top: 12px;
}

.index-news-list ul li:first-child {
    margin-top: 0;
}

.index-news-list ul li a{
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 20px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-binding:url('ellipsis.xml#ellipsis');
    overflow:hidden;
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-right: 90px;
}

.index-news-list ul li a span{
    position: absolute;
    right: 0;
    width: 80px;
    text-align: right;
}

.index-cpjs {

}

.index-cpjs li{
    float: left;
    width: 33.33%;
}

.index-cpjs a {
    width: 238px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.index-cpjs img {
    margin: 0 auto 25px;
}

.index-cpjs h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #555;
}

.index-cpjs p {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    color: #555;
    height: 87px;
}

.index-cpjs span {
    display: block;
    margin: 30px auto 0;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    color: #7c7c7c;
    -webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	transition:all .3s ease-in;
}

.index-cpjs a:hover span {
    background-color: #E47616;
    border: 1px solid #E47616;
    color: #fff;
}