.unslider, .unslider-fade {
    height: 680px;
    position: relative;
}
.unslider .unslider-wrap, .unslider li, .unslider a{
    height: 100%;
    width: 100%;
    display: block;
}
.unslider a{
    background-repeat: no-repeat;
    background-position: center top;
}
.unslider-nav {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    z-index: 10;
}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 8px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  border-radius: 20px;
}
.unslider-nav ol li.unslider-active {
  background: #00C4FF;
  cursor: default;
  height: 19px;
  width: 19px;
}

.unified-width {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 95px;
    background: url("../image/top-bg.png") center top no-repeat;
}
.header .unified-width {
    height: 100%;
}

.pd-header {
    padding-top: 95px;
}

.logo {
    float: left;
    margin-top: 8px;
}

.header-menu {
    float: right;
}
.header-menu > li{
    float: left;
    margin-top: 48px;
}

.header-menu > li > a{
    font-size: 19px;
    color: #000;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 2;
}

.header-menu > li a:hover, .header-menu > li a.active{
    color: #357AFF;
}

.header-menu > li > ul{
    border-top: 2px solid #357AFF;
    width: 124px;
    margin: 0 auto;
    -webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	transition: all .3s ease-in;
    -moz-transform:scale(1, 0);
    -webkit-transform:scale(1, 0);
    -ms-transform:scale(1, 0);
    transform:scale(1, 0);
    opacity: 0;
    height: 0;
}

.header-menu > li:hover > ul{
    height: auto;
    opacity: 1;
    -moz-transform:scale(1, 1);
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    transform:scale(1, 1);
}

.header-menu > li > ul li{
    height: 34px;
    margin-top: 1px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}

.header-menu > li > ul li a{
    font-size: 17px;
    color: #535353;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.9;
}

.us-introduce {
    color: #0e50be;
    font-size: 61px;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 100px;
    font-weight: bolder;
    line-height: 1.5;
}

.index-mk {
    padding-bottom: 136px;
}

.index-mk h4{
    text-align: center;
    font-family: "SimSun";
    font-size: 43px;
    color: #606060;
    margin: 0 0 30px 0;
}

.index-mk-fgx {
    display: block;
    margin: 0 auto 30px auto;
    background-image: url("../image/fgx.png");
    width: 393px;
    height: 19px;
}

.zisheying-img {
    display: block;
    min-width: 1200px;
    width: 100%;
}

.hzyh-list {
    width: 1200px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.hzyh-list > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.hzyh-list ul{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hzyh-list li{
    float: left;
    width: 20%;
    height: 25%;
}

.hzyh-list li a{
    width: 100%;
    height: 100%;
    display: block;
}

.hzyh-list li img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    -webkit-transition:opacity .5s ease-in;
	-moz-transition:opacity .5s ease-in;
	transition:opacity .5s ease-in;
}

.hzyh-list li:hover img{
    opacity: 1;
}

.lxdz-info , .lxdh-info{
    background: url("../image/icon-dz.png") no-repeat;
    position: relative;
    font-size: 26px;
    color: #fff;
    padding-left: 180px;
}

.lxdh-info {
    background: url("../image/icon-dh.png") no-repeat;
    margin-top: 5px;
}

.lxdz-info .info-title, .lxdh-info .info-title{
    position: absolute;
    top: 0;
    left: 50px;
}

.bottom-img-link {
    position: absolute;
    background-color: #fff;
    top: 60px;
    right: 0;
    padding: 15px 30px;
    border-radius: 10px;
}

.bottom-img-link  a{
    display: block;
    padding: 10px 10px;
}

.page-info {
    padding-top: 88px;
    padding-bottom: 40px;
}

.page-top-img {
    height: 535px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
}

.page-left-menu {
    width: 218px;
    float: left;
}

.page-left-menu a{
    display: block;
    height: 56px;
    font-size: 22px;
    color: #333;
    text-align: center;
    line-height: 2.5;
    background: #fff;
    border-top: 1px solid #FBFBFB;
}

.page-left-menu a:first-child{
    border-top: 0;
}

.page-left-menu a.active{
    color: #fff;
    background: #357AFF;
    box-shadow: 0px 0px 13px #357AFF;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    position: relative;
    z-index: 2;
    border-top: 0;
}

.page-right-content {
    width: 956px;
    float: right;
    background: #fff;
    min-height: 1066px;
    padding: 30px;
    box-sizing: border-box;
}

.falc-list li{
    position: relative;
    margin-left: 50px;
    border-left: 3px solid #5E607A;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    font-size: 18px;
    color: #333;
}

.falc-dot {
    width: 74px;
    height: 74px;
    display: block;
    background-image: url("../image/d-y.png");
    position: absolute;
    top: -6px;
    left: -38px;
}

.falc-list li:hover .falc-dot{
    background-image: url("../image/d-n.png");
}

.topyear-list {
    position: relative;
    padding: 0 32px;
}

.topyear-list .left-btn {
    background-image: url("../image/jt-z.png");
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.topyear-list .right-btn {
    background-image: url("../image/jt-r.png");
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topimg-list {
    margin-top: 90px;
    position: relative;
    padding: 0 20px;
}

.topimg-list .left-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;
    display: block;
}

.topimg-list .left-btn span{
    background-image: url("../image/jt-z-m.png");
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -8px;
}

.topimg-list .right-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
}

.topimg-list .right-btn span{
    background-image: url("../image/jt-r-m.png");
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -8px;
}

.images-list {
    margin-top: 80px;
}
.images-list img{
    width: 837px;
    height: 473px;
    display: none;
    margin: 0 auto;
}

.wenhua-item-info h3{
    margin: 0;
    font-size: 24px;
    color: #333;
    display: inline-block;
    padding-right: 10px;
    border-bottom: 4px solid #00B7EE;
    padding-bottom: 5px;
}

 .wenhua-item-info hr{
    border: 0;
    height: 1px;
    background-color: #00B7EE;
    margin: 0;
    display: block;
}

 ul.qiyeqikan-list {
    padding-top: 20px;
}

 ul.qiyeqikan-list li {
    width: 33.33%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

 ul.qiyeqikan-list li div{
    display: inline-block;
    width: 188px;
}

 ul.qiyeqikan-list li img{
    display: block;
    width: 188px;
    height: 239px;
    margin-bottom: 10px;
}

 ul.qiyeqikan-list li h4{
 font-size: 18px;
 color: #333;
 font-weight: normal;
 text-align: left;
 position: relative;
 box-sizing: border-box;
 padding-right: 25px;
}

 ul.qiyeqikan-list li a{
    width: 21px;
    height: 20px;
    display: block;
    background-image: url("../image/xz.png");
    position: absolute;
    right: 0;
    bottom: 0;
}

 ul.qiyeqikan-list li p{
    font-size: 18px;
    color: #333;
    text-align: left;
    line-height: 1.5;
    padding-top: 5px;
    height: 54px;
    overflow: hidden;
    width: 100%;
}

.ygtd-list li{
    float: left;
    display: block;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}
.ygtd-list li img{
    margin: 0 auto;
    width: 236px;
    height: 150px;
    display: block;
    cursor: pointer;
}

.sp-list li{
    float: left;
    display: block;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

.sp-list li a{
    margin: 0 auto;
    width: 236px;
    height: 150px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sp-list li a img{
    width: 100%;
    height: 100%;
    display: block;
}

.sp-list li a span{
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    margin: -24px;
    background-image: url("../image/bf.png");
    top: 50%;
    left: 50%;
}

.weixin-img {
    position: fixed;
    top: 50%;
    right: 20px;
    margin-top: -104px;
    z-index: 999;
}

.cpfw-list li{
    padding-top: 180px;
}

.cpfw-list li:first-child{
    padding-top: 0;
}

.cpfw-list li div{
    float: left;
}

.cpfw-list li div img{
    width: 136px;
    height: 136px;
}

.cpfw-list li div h3{
    width: 136px;
    margin: 0;
    font-size: 30px;
    color: #1296db;
    text-align: center;
    margin-top: 20px;
}

.cpfw-list li table{
    width: 480px;
    float: right;
}

.cpfw-list li table tr{
    border-bottom: 2px dotted #ccc;
    margin-bottom: 10px;
    padding: 10px 0;
    display: block;
}

.cpfw-list li table th{
    font-size: 16px;
    color: #010101;
    font-weight: bold;
    width: 100px;
}

.cpfw-list li table td{
    font-size: 16px;
    color: #010101;
    text-align: left;
}

.xinwen-list {
    width: 835px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.xinwen-list li{
    padding: 34px 0;
    border-bottom: 2px dotted #ccc;
}
.xinwen-list li img{
    float: left;
    width: 192px;
    height: 134px;
    display: block;
}

.xinwen-list li h3{
    margin: 0;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.xinwen-list li p{
    padding: 20px 0;
    font-size: 15px;
    box-sizing: border-box;
}

.xinwen-list li div span{
    float: left;
    font-size: 15px;
}

.xinwen-list li div a{
    float: right;
    color: #000;
    font-size: 15px;
}

.xinwen-list-info {
    width: 610px;
    float: right;
}

.js-year {
    color: #ccc;
    position: absolute;
    right: 70px;
    font-size: 15px;
}

.js-year select{
    border: 0;
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.pagination {
    text-align: center;
    margin-top: 30px;
    height: 30px;
}

.pagination ul{
    display: inline-block;
}

.pagination ul li{
    display: inline-block;
    margin: 0 3px;
}

.pagination ul li a{
    border: 1px solid #ccc;
    padding: 5px 15px;
    color: #ccc;
}

.pagination ul li a[href]{
    color: #0098EF;
}